body {
    font-family: "Press Start 2P", sans-serif;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:#000;
}
.game__board-wrapper {
    background-color:#000;
}
.game__board-header {
    display: flex;
    justify-content: space-around;
}
.game__board-title {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color:#11c70f;
}
.game__board-scores {
    color: #fff;
    line-height: 40px;
    text-transform: uppercase
    ;
}
.game__board-btn button {
    border: none;
    background-color: #11c70f;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #fff;
    opacity: 0.5;
}
.speed-minus, .speed-plus {
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: #11c70f;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
}
.speed-minus:hover, .speed-plus:hover {
    opacity: 1;
}
.game__board-btn button:hover {
    opacity: 1;
}
#game-board {
    position: relative;
    margin-top: 20px;
    width: 700px;  
    height: 550px ;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    border: 2px solid #F51E38;
    background: #067a04;
}
.snake {
    /* border-radius: 50%; */
    background: url('./icons/snake.svg');
    background-size: cover;

}

.food {
    background: url('./icons/apple.svg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
}
.gameover__message {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 150px;
    top: 260px;
    left: 50%;
    background: #000;
    background-size: 100%;
    transform: translate(-50% );
    position: absolute;
    padding: 20px;
    z-index: 100;

}
.gameover__message span {
    color: #fff;
}